.clr-blue {background:#25cff2;}
#content {background:coral;}
.m-6 {margin:6rem;}
.mb-6 {margin-bottom:6rem;}
.min-vh-100 {min-height:100svh!important;}
#navbar ul {display:flex;}
#navbar li {margin-right:20px;}